<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">Sale</div>
      <div class="card-body">
        <div class="form-group">
          <label for="inp_sp" class="col-form-label">Search products</label>
          <input id="inp_sp" type="text" class="form-control form-control-lg"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">Payment</div>
      <div class="card-body">
        <div class="metric-value d-inline-block">
          <input id="inp_totalBill" type="text" class="form-control form-control-lg" disabled/>
        </div>
      </div>
    </div>
  </div>
</div>
